---
layout: minimal
title: "Video Archive — Hadi Hariri (General)"
description: "Hadi is a developer evangelist with JetBrains and has observed and spoken with a lot of developers in the wild over the years. One of the things he’s observed…"
breadcrumb: "Interview with Hadi Hariri"
breadcrumb_parent_name: Videos
breadcrumb_parent_url: /videos/
---

<article class="page">
  {% include breadcrumbs.html %}
  {% assign asset = site.data.video_assets.items | where: "id", "interview-with-hadi-hariri-general" | first %}
  {% if asset %}
    <header>
      <h1>{{ asset.title }}</h1>
    </header>
    {% include json-ld-video.html asset=asset %}

    {% include video-asset-player.html asset=asset embed_id="asset-embed" %}
  {% endif %}
</article>
