---
---
@use "p_variables" as *;
@use "p_core" as *;
@use "p_base_layout" as *;

/* Calculator specific styles */
.devex-calculator {
  background: $surface;
  border: 1px solid $border;
  padding: $spacing-unit;
  border-radius: 0.5rem;
}
