---
---
@import "p_variables";
@import "p_core";
@import "p_base_layout";

/* Calculator specific styles */
.devex-calculator {
  background: $surface;
  border: 1px solid $border;
  padding: $spacing-unit;
  border-radius: 0.5rem;
}
