---
layout: minimal
title: "GOTO Conference and Community"
description: "GOTO Conference and Community includes 1 interview. Interviewees include Dave Thomas. Topics include GOTO Conference and Community and goto conference and community."
breadcrumb: "GOTO Conference and Community"

breadcrumb_grandparent_name: "Interviews"
breadcrumb_grandparent_url: /interviews/


breadcrumb_parent_name: "Interviews by Community"
breadcrumb_parent_url: /interviews/communities/

---

<article class="page">
  {% include breadcrumbs.html %}
  <header>
    <h1>GOTO Conference and Community</h1>
    <p class="intro">GOTO Conference and Community includes 1 interview. Interviewees include Dave Thomas. Topics include GOTO Conference and Community and goto conference and community.</p>
  </header>

  <section class="index-summary">
    <ul class="index-highlights">

      <li>Hi, I'm Mike. I'm sitting here with Dave Thomas with the GoTo conferences and user group series. He's here in Chicago to…</li>

    </ul>
  </section>



  {% assign items = site.data.interviews.items | where: "community", "GOTO Conference and Community" | sort: "recorded_date" | reverse %}
  {% for interview in items %}
    {% include interview-card.html interview=interview %}
  {% endfor %}
</article>
