---
layout: default
title: Mike Hall | Senior Software Developer
description: Do you want an experienced developer on your team who is skilled in building HTTP APIs and backend systems with strong Ruby skills? Then hire me today!
keywords: Senior Software Developer,Ruby,Ruby on Rails,PostgreSQL,HTML,API,REST,Linux,Rails,Postgres,HTTP,RESTful,WebDev,CSS,RSpec,TDD,BDD,AOP,JavaScript,HTML5
stylesheets: index
prefetch: /resume.html
---

<div>
  <h1 itemprop="name" id="name">Mike Hall</h1>
  <h2 id="jobTitle">Senior Software Developer</h2>
  <h3>Hello. I know finding a software developer to hire is not easy.</h3>
  <p>
    <p>Let me ask you a few questions to see if I can help you out.</p>
    <p>Are you looking for a software developer to enhance your team or can work independently?</p>
    <p>How about a developer that can build a solid and maintainable software foundation for your business?</p>
    <p>Maybe you'd like to know that they will be able to help with defining the goals and tradeoffs required to fulfill your business's needs?</p>
    <p>Do <code>Ruby</code>, <code>JavaScript</code>, <code>SQL</code>, and <code>Linux</code> sound like <em>some</em> of the technologies you need the developer to have experience working with?</p>
    <p>"<em>Full-stack</em>" get's thrown around a lot but you might possibly need a developer who can work from the backend setting up and managing servers as well as being able to build out the API and front-end UI (although isn't a graphic designer)?</p>
    <p>Would you like to know that developer has solid experience working for companies like Groupon and Coderwall?</p>
    <p>If you answered "<strong>yes</strong>" to the above questions then this might be a great time for us to chat. Shoot me an <strong><a href="mailto:mike@just3ws.com">email</a></strong> and we can chat about your needs are and how I can help you.</p>
    <p>Thanks!</p>
  </p>
  <h3 id="resume">Resume</h3>
  <ul>
    <li><a href="/resume.html">Senior Software Developer Resume (HTML)</a></li>
    <li><a href="/Mike Hall - Senior Software Developer - Resume.pdf" target="_blank">Senior Software Developer Resume (PDF)</a></li>
  </ul>
  <h3 id="contact">Contact</h3>
  <ul>
    <li><a itemprop="email" id="email" href="mailto:mike@just3ws.com">mike@just3ws.com</a></li>
    <li><a itemprop="telephone" id="telephone" href="tel:+18478773825">(847) 877-3825</a></li>
  </ul>
  <h3 id="social-media">Social Media</h3>
  <ul>
    <li><a href="https://www.linkedin.com/in/just3ws" data-proofer-ignore>LinkedIn</a></li>
    <li><a href="https://www.github.com/just3ws">GitHub</a></li>
    <li><a href="https://stackoverflow.com/story/just3ws">StackOverflow</a></li>
    <li><a href="https://www.twitter.com/just3ws">Twitter</a></li>
    <li><a href="https://about.me/just3ws">About.me</a></li>
    <li><a href="https://coderwall.com/just3ws">Coderwall</a></li>
  </ul>
  <h3 id="presentations">Presentations</h3>
  <ul>
    <li><a href="http://www.pechakucha.org/presentations/teach-yourself-beginning-community-in-24-months-2">Teach Yourself Beginning Community in 24 Months</a></li>
  </ul>
  {% if site.posts.size > 0 %}
  <h3 id="posts">Posts</h3>
  <ul>
    {% for post in site.posts %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
