---
layout: default
title: Mike Hall | Software Developer | Resume
description: Do you want an experienced developer on your team who is skilled in building HTTP APIs and backend systems with strong Ruby skills? Then hire me today!
keywords: Senior Software Developer,Ruby,Ruby on Rails,PostgreSQL,HTML,API,REST,Linux,Rails,Postgres,HTTP,RESTful,WebDev,CSS,RSpec,TDD,BDD,AOP,JavaScript,HTML5
canonical_path: /resume.html
stylesheets: resume
---

<div class="resume" itemscope itemtype="http://schema.org/Person">

  {% include resume/header.html.liquid %}

  <hr>

  {% include resume/skills.html.liquid %}

  <hr>

  {% include resume/tools.html.liquid %}

  <hr>

  {% include resume/history.html.liquid %}

  <hr>

  {% include resume/projects.html.liquid %}

  <hr class="hidden-print">

  {% include resume/footer.html.liquid %}

  <hr class="hidden-print">

  <div class="fb-like hidden-print" data-href="http://www.just3ws.com/resume" data-layout="button"
    data-action="recommend" data-size="small" data-show-faces="true" data-share="true"></div>
</div>
