---
---

<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head itemscope itemtype="http://schema.org/WebSite">
    <meta charset=utf-8>
    <meta content="IE=edge" http-equiv=X-UA-Compatible>
    <meta content="width=device-width,initial-scale=1" name=viewport>
    {% include author_meta.html %}
    <title itemprop=name>Mike Hall | Senior Software Developer | Resume</title>
    <meta name=robots content="index, follow">
    <link rel=canonical href="http://www.just3ws.com/resume" itemprop="url">
    <link rel=stylesheet type="text/css" href="stylesheets/screen.css" media="screen">
    <link rel=stylesheet type="text/css" href="stylesheets/print.css" media="print">
    <link rel=stylesheet type="text/css" href="stylesheets/resume.css">
    <!--[if lt IE 9]>
    <script src=https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js></script>
    <script src=https://oss.maxcdn.com/respond/1.4.2/respond.min.js></script>
    <![endif]-->
    {% include google_analytics.html %}
    {% include facebook.html %}
    {% include favicon.html %}
  </head>
  <body>
    <div class=container>
      <div class=resume itemscope itemtype="http://schema.org/Person">
        <h1 itemprop="name" id="mike-hall">Mike Hall</h1>
        <h2 itemprop="jobTitle" id="jobTitle">Senior Software Developer</h2>
        <blockquote>
          <p>
            <a href="mailto:mike@just3ws.com" itemprop="email">mike@just3ws.com</a>
            <br>
            <a href="tel:+18478773825" itemprop="telephone">847.877.3825</a>
            <br class="hidden-print">
            <a class="hidden-print" href="https://www.linkedin.com/in/just3ws">LinkedIn</a>
          </p>
        </blockquote>
        <hr>
        <h3 id=skills>Skills</h3>
        <ul>
          <li>
            <dl>
              <dt>API design</dt>
              <dd>
                Designed and refactored numerous application interfaces for use
                as libraries or over HTTP.
              </dd>
            </dl>
          </li>
          <li>
            <dl>
              <dt>Project Direction</dt>
              <dd>
                Proven ability to lead and manage a wide variety of design and
                development projects in team and independent situations.
              </dd>
            </dl>
          </li>
          <li>
            <dl>
              <dt>Full-stack Ruby on Rails</dt>
              <dd>
                Experience building up from design to deploy as well as diving
                in to long established legacy codebases.
              </dd>
            </dl>
          </li>
        </ul>
        <hr>
        <h3 id="tools">Tools</h3>
        <ul>
          <li>
            <dl>
              <dt>Languages</dt>
              <dd>
                Strong Ruby, Shell scripting, and JavaScript experience
              </dd>
              <dd>
                Solid foundation working with HTML and CSS
              </dd>
              <dd>
                Fluent in writing and analyzing complex SQL statements
              </dd>
              <dd>
                Light production experience working with Clojure, Java
              </dd>
            </dl>
          </li>
          <li>
            <dl>
              <dt>Databases</dt>
              <dd>
                Extensive SQL experience with MySQL, MSSQL, and PostgreSQL
              </dd>
              <dd>
                Experienced with PostgreSQL full-text and JSON capabilities
              </dd>
              <dd>
                Built Redis backed services to support expiring keys, unique sets, etc
              </dd>
              <dd>
                Light production experience working with ElasticSearch, Solr,
                MongoDB, CouchDB, Vertica, Riak, and Hadoop
              </dd>
            </dl>
          </li>
          <li>
            <dl>
              <dt>Environments</dt>
              <dd>
                Managed application promotion and deployment using Heroku Pipelines
              </dd>
              <dd>
                Built Vagrant environments for development and testing
              </dd>
              <dd>
                Configured and deployed Linux production systems for production
              </dd>
              <dd>
                Moderate production experience managing AWS services
              </dd>
            </dl>
          </li>
        </ul>
        <hr>
        <h3 id="history">History</h3>
        <dl>
          <dt id=reachlocal>ReachLocal</dt>
          <dd>
            <em>Web Developer, remote</em>
            <strong>3.2016 - 11.2016</strong>

            Collaborated with a distributed team to support the ReachConvert
            product and build APIs to support the new React-based UI initiative.

            Introduced improvements to the development workflow, improved
            the development toolchain, and fixed performance and security issues.

            <ul class="role-details">
              <li>
                Implemented ReachConvert UX Refresh API service using Ruby on Rails
                that wrapped around the legacy ReachConvert product and exposed new
                functionality to support a modern React-based thin client. I also
                implemented several React components that consumed the API service.
              </li>
              <li>
                Implemented API Gateway service using Ruby on Rails that enabled
                ReachLocal internal services to be exposed to external partners
                and clients.
              </li>
              <li>
                Introduced improvements to the Vagrant development toolchain as
                well code analysis and linting tools like Rubocop, Bundler Audit,
                Code Climate, etc.
              </li>
            </ul>
          </dd>
          <dt id=kickserv>Kickserv (acquired by ReachLocal)</dt>
          <dd>
            <em>Software Developer, remote</em>
            <strong>3.2015 - 3.2016</strong>

            Collaborated with distributed team to support and enhance the Kickserv
            product. Implemented critical conversion of payment gateway while
            reducing complexity. Improved visibility and communication between
            product and customer support teams, introduced project management
            tools and agile concepts to the management teams.

            <ul class="role-details">
              <li>
                Migrated payment gateway and credit card processing from Stripe
                that required heavy internal management of subscriptions to Chargify.
                I discovered that most of the required functionality could be handled
                via the Chargify API to reduce the amount of functional overhead
                in the Kickserv codebase, simplify the process, and improve testing.
              </li>
              <li>
                Coordinated with the customer support and product management teams
                to improve awareness and communication of needs and priorities
                between existing customer issues and new feature initiatives.
              </li>
              <li>
                Introduced Vagrant, Rubocop, and Code Climate into development
                toolchain.
              </li>
              <li>
                Converted asynchronous jobs to use Sidekiq Pro instead of Resque
                to simplify managing the processes and reduced the hardware required.
              </li>
            </ul>
          </dd>
          <dt id=coderwall>Coderwall</dt>
          <dd>
            <em>Core Team Lead, remote</em>
            <strong>1.2014 - 12.2014</strong>

            Re-launched Coderwall as an open-source project and led the community development efforts.

            <ul class="role-details">
              <li>
                Scrubbed codebase in preparation for releasing Coderwall as an
                open-source website.
              </li>
              <li>
                Extracted proprietar algorithms and updated primary application
                to use the new service. Updated development environment to use
                a fake version of the service during development and testing.
              </li>
              <li>
                Created extensive documentation and support materials including
                video tutorials to enable outside contributors to effectively
                participate in the project without undue limitations.
              </li>
              <li>
                Collaborated with and mentored contributors coming from all different
                development skills and experiences.
              </li>
              <li>
                Replaced the MongoDB backend and consolidated onto Postgres to
                greatly simplify queries, reduce costs, and simplify development.
              </li>
              <li>
                Improved ElasticSearch queries and upgraded to latest version of
                service.
              </li>
              <li>
                Handled support and customer interactions for Coderwall product.
              </li>
              <li>
                Converted asynchronous jobs to use Sidekiq instead of Resque to
                save on Heroku dyno costs.
              </li>
            </ul>
          </dd>
          <dt id=upcity>UpCity</dt>
          <dd>
            <em>Software Developer, Chicago, IL</em>
            <strong>10.2013 - 2.2014</strong>

            Collaborated with a distributed team on an SOA architecture web application
            that helps small to medium business improve their search engine and
            local prescence.

            <ul class="role-details">
              <li>
                Integrated Chargify payment system as backend for payments and as
                lightweight CMS for plan details using Ruby on Rails.
              </li>
              <li>
                Implemented multiple Vagrant environment to replicate the multi-system
                production environment thus greatly simplifying development process.
              </li>
            </ul>
          </dd>
          <dt id=viewpoints>Viewpoints</dt>
          <dd>
            <em>Senior Engineer, Chicago, IL</em>
            <strong>5.2013 - 10.2013</strong>

            Led team supporting development of core business systems.

            <ul class="role-details">
              <li>
                Simplified development environment and reduced risky practices in
                shared development environment. Built testing and development
                environments to enable continuous integration.
              </li>
              <li>
                Implemented tracking and marketing tool to enable a new revenue
                stream for the company.
              </li>
              <li>
                Mentored and lead junior development team and helped train members
                on Ruby on Rails and testing practices.
              </li>
              <li>
                Streamlined and stabilized the AWS deployment process and built out
                new server images for easier scaling during high demand periods.
              </li>
            </ul>
          </dd>
          <dt id=groupon>Groupon</dt>
          <dd>
            <em>Engineering Learning &amp; Development Business Partner, Chicago, IL</em>
            <strong>7.2011 - 5.2013</strong>

            Worked with projects from fraud analysis in Clojure to building
            internal tools with Rails to building a centralized taxonomy management
            service in Java. Transitioned to leading efforts to rebuild and improve
            the onboarding and engineering retention process.

            <ul class="role-details">
              <li>
                Implemented Taxonomy service using ActiveWeb and ActiveJDBC Java
                frameworks and MySQL. Built out the servers to host services.
              </li>
              <li>
                Designed queries for identifying account fraud patterns using
                Vertica queries. Spiked on Hadoop and Clojure fraud detection tools.
              </li>
              <li>
                Built sales support tools to assist call center representatives
                when dealing with customers using Ruby on Rails and MySQL.
              </li>
              <li>
                Built merchant analysis tools in Ruby and CouchDB to generate
                reports used by sales team for identifying markets and deals that
                are potentially valuable.
              </li>
              <li>
                Coordinated and implemented new onboarding process and facilitated
                in-house training across multiple sites. Worked with TalentDev
                teams across organization to identify managerial training needs
                and design training course.
              </li>
            </ul>
          </dd>
          <dt id=obtiva>Obtiva (acquired by Groupon)</dt>
          <dd>
            <em>Software Engineer - Greater Chicago Area</em>
            <strong>8.2009 - 7.2011</strong>

            Consultant dispatched to clients to work independently and in team environments. Worked on projects building B2B services for Sears, internal report generation systems for marketing agencies, and with Groupon prior to the acquisition.

            <ul class="role-details">
              <li>
                Engaged at Leapfrog Online to implement reporting services to
                expose customizable and generate bespoke reports against their
                datawarehouse.
              </li>
              <li>
                Engaged at Sears Commercial to implement a new commerical sales
                and catalog service for B2B customers.
              </li>
              <li>
                Engaged at Groupon to work on deals services, primary site
                support, and fraud analysis teams.
              </li>
            </ul>
          </dd>
          <dt class="prior-experience">Prior experience upon request</dt>
          <dd>
            <em>Microsoft Platform developer - Greater Chicago Area</em>
            <strong>&infin; - 8.2009</strong>

            Experience spanning a decade working with Microsoft Platform technologies from Classic ASP to business critical systems in .NET.
          </dd>
        </dl>
        <hr>
        <h3 id="other-skills">Other Skills</h3>
        <dl>
          <dt id=klobomedia>KloboMedia</dt>
          <dd>
            <em>CTO, remote</em>
            <strong>3.2014 - 9.2016</strong>

            Built social media analytics system to aggregate and generate insights
            for professionals looking for concrete advice on how to improve their
            social media presence. Led development of the marketing and customer
            user interface.

            <ul class="role-details">
              <li>
                Designed and built Twitter query and aggregator tools using Java
                and Ruby.
              </li>
              <li>
                Built advanced pipeline using Sidekiq Enterprise to generate insights
                into customer social patterns.
              </li>
              <li>
                Built administrative and reporting interfaces used by customer
                representatives to generate bespoke reports and social media advice.
              </li>
              <li>
                Built out backend databases using PostgreSQL and leveraged JSONB
                data type to enable efficient storage, queries, and simplify
                creating ActiveRecord queries against raw JSON data.
              </li>
              <li>
                Built out infrastructure using Digital Ocean, Heroku, and Amazon
                RDS. Implemented fail2ban and iptable rules to lock down servers.
              </li>
              <li>
                Coordinated with consulting firm to design and build out the marketing
                and customer user interface. Led design and development of product
                while building out the underlying supporting data and models for
                the client interface.
              </li>
              <li>
                Configured Heroku Pipeline to simplify testing and verification
                before deployment of the customer interface into production.
              </li>
            </ul>
          </dd>
          <dt id=ugtastic>WHOIS Tech Community / UGtastic</dt>
          <dd>
            <em>Creator</em>
            <strong>11.2011 - 1.2017</strong>

            Interviewed over 100 tech community leaders from user-group and small
            conference organizers to leaders of massive F/OSS projects such as
            Rich Hickey (Clojure) and DHH (Ruby on Rails). Conducted interviews
            and produced videos and coordinated with community contributors.
          </dd>
          <dt id=community>Community</dt>
          <dd>
            <ul class="role-details">
              <li>Founded a Cloud Developer user-group</li>
              <li>Founded Software Craftsmanship McHenry County user-group</li>
              <li>Co-organized Chicago Code Camp for 2010-2012</li>
              <li>Spoke at Iowa Code Camp and Chicago Code Camp on AOP in .NET and IronRuby</li>
              <li>Presented on how to get started in leading a user-group at Table XI Table Talk session</li>
              <li>Presented at several Geekfests on various topics</li>
              <li>Mentored two people into careers in software development</li>
              <li>
                Collaborated with GOTO Conference organizers to host events with
                Chicago community leaders.
              </li>
            </ul>
          </dd>
        </dl>
        <hr class="hidden-print">
        <h3 class="hidden-print" id="footer">Footer</h3>
        <p class="hidden-print">Mike Hall &#8212; <a href="mike@just3ws.com">mike@just3ws.com</a> &#8212; 847.877.3825</p>
        <hr class="hidden-print">
				<div class="fb-like hidden-print" data-href="http://www.just3ws.com/resume" data-layout="button" data-action="recommend" data-size="small" data-show-faces="true" data-share="true"></div>
      </div>
    </div>
  </body>
</html>
