<dt id="benchprep">BenchPrep</dt>
<dd>
    <em>Senior Software Developer</em>
    <strong>March 2017 - February 2018</strong> Optimized heavy weight queries
    and improved accuracy of calculations using Postgres advanced query and diagnostic
    tools. Improved security of email and integrations by using JSON Web Tokens
    and Web API for communications. Introduced team communication practices such
    as daily stand and acceptance criteria on feature and support request cards.

    <ul class="role-details">
        <li>Built API for safe bi-directional communication between host and client
            apps embedded within IFRAMES using Web API.</li>
        <li>Identified and optimized bottle-neck queries causing poor user experience
            by rewriting to increasing response time, reducing load, and repairing
            inaccurate calculations.</li>
        <li>Implemented API for verifying responses from email communications were
            not tampered with and only processed once using JSON Web Token protocol.</li>
        <li>Presented learning sessions on how to use Postgres analysis tools and a
            session introducing Clojure.</li>
    </ul>
</dd>
