<dt id="coderwall">Coderwall</dt>
<dd>
    <em>Core Team Lead, remote</em>
    <strong>January 2014 - December 2014</strong>Re-launched Coderwall as an open-source
    project and led the community development efforts.

    <ul class="role-details">
        <li>Scrubbed codebase in preparation for releasing Coderwall as an open-source
            website.
        </li>
        <li>Extracted proprietary algorithms and updated Coderwall to use the new service.
            Updated development environment to use a fake version of the service
            during development and testing.</li>
        <li>Created extensive documentation and support materials including video tutorials
            to enable outside contributors to participate in the project without
            unnecessary limitations.</li>
        <li>Collaborated with and mentored contributors coming from all different development
            skills and experiences.</li>
        <li>Replaced the MongoDB backend and consolidated onto Postgres to greatly
            simplify queries, reduce costs, and simplify development.</li>
        <li>
            Improved ElasticSearch queries and upgraded to latest version of service.
        </li>
        <li>Handled customer support issues for Coderwall.</li>
        <li>Converted asynchronous jobs to use Sidekiq instead of Resque to save on
            Heroku dyno costs.</li>
    </ul>
</dd>
