<dt id="klobomedia">KloboMedia</dt>
<dd>
    <em>CTO, remote</em>
    <strong>March 2014 - September 2016</strong> Built social media analytics system
    to aggregate and generate insights for professionals looking for concrete advice
    on how to improve their social media presence. Led development of the marketing
    and customer user interface.

    {% if resume_format == 'long' %}
    <ul class="role-details">
        <li>Designed and built Twitter query and aggregator tools using Java and Ruby.</li>
        <li>Built advanced pipeline using Sidekiq Enterprise to generate insights into
            customer social patterns.</li>
        <li>Developed administrative and reporting interfaces used by client representatives
            to create bespoke reports and social media advice.</li>
        <li>Built out backend databases using PostgreSQL and leveraged JSONB data type
            to enable efficient storage, queries, and simplify creating ActiveRecord
            queries against raw JSON data.</li>
        <li>Built out infrastructure using Digital Ocean, Heroku, and Amazon RDS. Implemented
            fail2ban and iptable rules to lock down servers.</li>
        <li>Coordinated with a consulting firm to design and build out the marketing
            and customer user interface. Led design and development of the product
            while building out the underlying supporting data and models for the
            client interface.</li>
        <li>Configured Heroku Pipeline to simplify testing and verification before
            deployment of the customer interface into production.</li>
    </ul>
    {% endif %}
</dd>
