<dt id="reachlocal-kickserv">ReachLocal/Kickserv</dt>
<dd>
  <em>Software Developer, remote</em>
  <strong>March 2015 - November 2016</strong> Collaborated with a distributed
  team to build and support Ruby apps and Rails-based APIs. Introduced
  improvements to the development workflow, improved the development
  toolchain and fixed performance and security issues. Implemented critical
  conversion of payment gateway while reducing complexity. Improved
  visibility and communication between product and customer support groups,
  introduced project management tools and agile concepts to the management
  teams.

  {% if resume_format == 'long' %}
    <ul class="role-details">
      <li>Implemented Ruby on Rails API that wrapped the legacy lead generation product providing new functionality to support a React-based thin client.</li>
      <li>Implemented several React components that consumed the API service.</li>
      <li>Implemented API Gateway service using Ruby on Rails providing external partners access to ReachLocal internal services.</li>
      <li>Introduced improvements to the Vagrant development toolchain as well code analysis and linting tools like RuboCop, Bundler Audit, Code Climate, etc.</li>
      <li>Migrated payment gateway and credit card processing from Stripe that required complex internal management of subscriptions to Chargify. Identified required functionality could be handled via third-party reducing complexity and overhead.</li>
      <li>Coordinated with the customer support and product management teams to improve awareness and communication of needs and priorities between customer issues and new feature initiatives.</li>
    </ul>
  {% endif %}
</dd>
