<dt id="reachlocal">ReachLocal</dt>
<dd>
    <em>Software Developer, remote</em>
    <strong>March 2015 - November 2016</strong> Collaborated with distributed team
    to support and enhance the Kickserv product. Implemented critical conversion
    of payment gateway while reducing complexity. Improved visibility and communication
    between product and customer support groups, introduced project management
    tools and agile concepts to the management teams.

    <ul class="role-details">
        <li>
            Migrated payment gateway and credit card processing from Stripe that required complex
            internal management of subscriptions to Chargify. I discovered that
            most of the required functionality could be handled via the Chargify
            API to reduce the amount of functional overhead in the Kickserv codebase,
            simplify the process, and improve testing.
        </li>
        <li>
            Coordinated with the customer support and product management teams to improve awareness
            and communication of needs and priorities between customer issues and
            new feature initiatives.
        </li>
        <li>
            Introduced Vagrant, RuboCop, and Code Climate into development toolchain.
        </li>
        <li>
            Converted asynchronous jobs to use Sidekiq Pro instead of Resque to simplify managing
            the processes and reduced the hardware required.
        </li>
    </ul>
</dd>
