<dt id="upcity">UpCity</dt>
<dd>
    <em>Software Developer, Chicago, IL</em>
    <strong>October 2013 - February 2014</strong> Collaborated with a distributed
    team on an SOA architecture web application that helps small to medium business
    improve their search engine and local presence.

    <ul class="role-details">
        <li>
            Integrated Chargify payment system as backend for payments and as lightweight CMS
            for plan details using Ruby on Rails.
        </li>
        <li>
            Implemented networked Vagrant environments to replicate the multi-system production
            environment thus greatly simplifying the development process.
        </li>
    </ul>
</dd>
