<dt id="viewpoints">Viewpoints</dt>
<dd>
    <em>Senior Engineer, Chicago, IL</em>
    <strong>April 2013 - October 2013</strong>Led development team working and
    principal development of support and new business initiatives.

    {% if resume_format == 'long' %}
    <ul class="role-details">
        <li>Simplified the development environment and reduced unsafe practices in
            shared development environment. Built testing and development environments
            to enable continuous integration.</li>
        <li>Implemented tracking and marketing tool to enable a new revenue stream
            for the company.</li>
        <li>Mentored and lead junior development team and helped train members on Ruby
            on Rails and testing practices.</li>
        <li>Streamlined and stabilized the AWS deployment process and built out new
            server images for easier scaling during high demand periods.</li>
    </ul>
    {% endif %}
</dd>
