---
layout: minimal
title: "angleBracket"
description: "angleBracket includes 1 interview. Interviewees include Clark Sell and Pat Paasch. Topics include angleBracket and anglebracket."
breadcrumb: "angleBracket"

breadcrumb_grandparent_name: "Interviews"
breadcrumb_grandparent_url: /interviews/


breadcrumb_parent_name: "Interviews by Community"
breadcrumb_parent_url: /interviews/communities/

---

<article class="page">
  {% include breadcrumbs.html %}
  <header>
    <h1>angleBracket</h1>
    <p class="intro">angleBracket includes 1 interview. Interviewees include Clark Sell and Pat Paasch. Topics include angleBracket and anglebracket.</p>
  </header>

  <section class="index-summary">
    <ul class="index-highlights">

      <li>Hi, I'm Mike. I'm sitting down with Clark and Pat. This is Pat. This is Clark from Angle Bracket. Angle Bracket is…</li>

    </ul>
  </section>



  {% assign items = site.data.interviews.items | where: "community", "angleBracket" | sort: "recorded_date" | reverse %}
  {% for interview in items %}
    {% include interview-card.html interview=interview %}
  {% endfor %}
</article>
