<meta content="Do you want an experienced developer on your team who is skilled in building HTTP APIs and backend systems with strong Ruby skills? Then hire me today!" name=description>
<meta name=keywords content="Senior Software Developer,Ruby,Ruby on Rails,PostgreSQL,HTML,API,REST,Linux,Rails,Postgres,HTTP,RESTful,WebDev,CSS,RSpec,TDD,BDD,AOP,JavaScript,HTML5">
<meta content="Mike Hall" name=author>
<meta property="og:url" content="http://www.just3ws.com/resume">
<meta property="og:type" content="website" />
<meta property="og:title" content="Mike Hall | Senior Software Developer | Resume">
<meta property="og:description" content="Do you want an experienced developer on your team who is skilled in building HTTP APIs and backend systems with strong Ruby skills? Then hire me today!">
<meta property="og:image" content="http://www.just3ws.com/assets/img/avatar.png">
<meta property="og:app_id" content="226843561097282">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@just3ws">
<meta name="twitter:creator" content="@just3ws">
<meta property="og:url" content="http://www.just3ws.com/resume">
<meta property="og:title" content="Mike Hall | Senior Software Developer | Resume">
<meta property="og:description" content="Do you want an experienced developer on your team who is skilled in building HTTP APIs and backend systems with strong Ruby skills? Then hire me today!">
<meta property="og:image" content="http://www.just3ws.com/assets/img/avatar.png" />
