{% assign modified_items = site.data.last_modified.items | default: site.data.last_modified %}
{% assign modified_from_build = nil %}
{% if modified_items %}
  {% assign modified_from_build = modified_items[page.path] | default: modified_items[page.relative_path] %}
{% endif %}
{% assign modified_value = modified_from_build | default: page.last_modified_at | default: page.date %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": {{ page.title | jsonify }},
  "description": {{ page.description | default: page.excerpt | strip_html | strip_newlines | jsonify }},
  "author": {
    "@type": "Person",
    "name": "Mike Hall"
  },
  "publisher": {
    "@type": "Person",
    "name": "Mike Hall"
  },
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "dateModified": "{{ modified_value | date_to_xmlschema }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://www.just3ws.com{{ page.url }}"
  }
}
</script>
