{% assign site_url = site.url | default: "https://www.just3ws.com" %}
{% if site_url == "" or site_url contains "localhost" %}
  {% assign site_url = "https://www.just3ws.com" %}
{% endif %}
{% assign interviews = include.items | default: empty %}
{% assign url_prefix = include.url_prefix | default: "/interviews/" %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {% for interview in interviews %}
    {
      "@type": "CreativeWork",
      "additionalType": "https://schema.org/Interview",
      "@id": "{{ site_url }}/id/interview/{{ interview.id }}",
      "name": {{ interview.title | default: interview.id | jsonify }},
      "url": "{{ site_url }}{{ url_prefix }}{{ interview.id }}/",
      "datePublished": "{{ interview.recorded_date | date: "%Y-%m-%d" }}",
      "author": {
        "@type": "Person",
        "name": {{ interview.interviewer | default: "Mike Hall" | jsonify }}
      },
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ site_url }}{{ url_prefix }}{{ interview.id }}/"
      }
    }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]
}
</script>
