  <!-- JSON-LD -->
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "url": "https://www.just3ws.com",
      "givenName": "Mike",
      "familyName": "Hall",
      "alternateName": "just3ws",
      "email": "mike@just3ws.com",
      "telephone": "+18478773825",
      "homeLocation": {
        "@type": "Residence",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "32 Bryant Court",
          "addressLocality": "Crystal Lake",
          "addressRegion": "IL",
          "postalCode": "60014",
          "addressCountry": "US"
        }
      }
    }
  </script>
