<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": {{ page.title | jsonify }},
  "description": {{ page.description | default: page.excerpt | strip_html | strip_newlines | jsonify }},
  "author": {
    "@type": "Person",
    "name": "Mike Hall"
  },
  "publisher": {
    "@type": "Person",
    "name": "Mike Hall"
  },
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "dateModified": "{{ page.last_modified_at | default: page.date | date_to_xmlschema }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://www.just3ws.com{{ page.url }}"
  }
}
</script>
