{% assign site_url = site.url | default: "https://www.just3ws.com" %}
{% if site_url == "" or site_url contains "localhost" %}
  {% assign site_url = "https://www.just3ws.com" %}
{% endif %}
{% assign conference_name = interview.conference | to_s | strip %}
{% assign conference_year = interview.conference_year | to_s | strip %}
{% assign conference_label = conference_name %}
{% if conference_name != "" and conference_year != "" %}
  {% assign conference_label = conference_name | append: " " | append: conference_year %}
{% endif %}
{% assign community_name = interview.community | to_s | strip %}
{% assign preferred = nil %}
{% if asset and asset.primary_platform %}
  {% assign preferred = asset.platforms | where: "platform", asset.primary_platform | first %}
{% endif %}
{% if asset and preferred == nil %}{% assign preferred = asset.platforms | first %}{% endif %}
{% assign video_name = nil %}
{% assign video_description = nil %}
{% assign video_thumbnail = nil %}
{% assign video_upload_date = nil %}
{% assign video_embed_url = nil %}
{% assign video_content_url = nil %}
{% if asset %}
  {% assign video_name = asset.title | default: interview.title | default: page.title | default: asset.id %}
  {% assign video_description = asset.description | default: page.description | default: interview.topic | default: video_name %}
  {% assign video_thumbnail = asset.thumbnail | default: preferred.thumbnail | default: preferred.image_url %}
  {% assign video_upload_date = asset.published_date | default: preferred.published_date | default: interview.recorded_date %}
  {% assign video_embed_url = preferred.embed_url %}
  {% assign video_content_url = preferred.video_url %}
{% endif %}
{% capture about_items %}
  {% assign has_about = false %}
  {% if interview.topic and interview.topic != "" %}
    {
      "@type": "Thing",
      "name": {{ interview.topic | jsonify }}
    }
    {% assign has_about = true %}
  {% endif %}
  {% if conference_name != "" %}
    {% if has_about %},{% endif %}
    {
      "@type": "Event",
      "@id": "{{ site_url }}/id/conference/{{ conference_name | slugify }}{% if conference_year != "" %}-{{ conference_year }}{% endif %}",
      "name": {{ conference_label | jsonify }}
    }
    {% assign has_about = true %}
  {% endif %}
  {% if community_name != "" %}
    {% if has_about %},{% endif %}
    {
      "@type": "Organization",
      "@id": "{{ site_url }}/id/community/{{ community_name | slugify }}",
      "name": {{ community_name | jsonify }}
    }
  {% endif %}
{% endcapture %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "CreativeWork",
  "additionalType": "https://schema.org/Interview",
  "@id": "{{ site_url }}/id/interview/{{ interview.id }}",
  "identifier": {{ interview.id | jsonify }},
  "name": {{ interview.title | jsonify }},
  "url": "{{ site_url }}{{ page.url }}",
  "datePublished": "{{ interview.recorded_date | date: "%Y-%m-%d" }}",
  "description": {{ page.description | jsonify }},
  "inLanguage": "en",
  "author": {
    "@type": "Person",
    "@id": "{{ site_url }}/id/person/mike-hall",
    "name": {{ interview.interviewer | default: "Mike Hall" | jsonify }}
  },
  {% if interview.interviewees and interview.interviewees.size > 0 %}
  "contributor": [
    {% for name in interview.interviewees %}
    {
      "@type": "Person",
      "@id": "{{ site_url }}/id/person/{{ name | slugify }}",
      "name": {{ name | jsonify }}
    }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ],
  {% endif %}
  {% assign about_payload = about_items | strip %}
  {% if about_payload != "" %}
  "about": [
    {{ about_payload }}
  ],
  {% endif %}
  {% if asset and asset.id %}
  "subjectOf": {
    "@type": "VideoObject",
    "@id": "{{ site_url }}/id/video/{{ asset.id }}",
    "name": {{ video_name | jsonify }},
    "description": {{ video_description | jsonify }},
    "thumbnailUrl": {{ video_thumbnail | jsonify }},
    "uploadDate": "{{ video_upload_date | date: "%Y-%m-%d" }}",
    "url": "{{ site_url }}/videos/{{ asset.id }}/"{% if video_content_url %},
    "contentUrl": {{ video_content_url | jsonify }}{% endif %}{% if video_embed_url %},
    "embedUrl": {{ video_embed_url | jsonify }}{% endif %}
  },
  {% endif %}
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site_url }}{{ page.url }}"
  }
}
</script>
