<meta property="og:url" content="http://www.just3ws.com/resume">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="Do you want an experienced developer on your team who is skilled in building HTTP APIs and backend systems with strong Ruby skills? Then hire me today!">
<meta property="og:url" content="http://www.just3ws.com/resume">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="Do you want an experienced developer on your team who is skilled in building HTTP APIs and backend systems with strong Ruby skills? Then hire me today!">
<meta property="og:image" content="http://www.just3ws.com/assets/img/avatar.png">
<meta property="og:app_id" content="226843561097282">
<meta property="og:image" content="http://www.just3ws.com/assets/img/avatar.png">
