<!-- Open Graph -->
<meta property="og:type" content="website">
<meta property="fb:app_id" content="226843561097282">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:url" content="{{ site.url}}{{ page.canonical_path }}">
<meta property="og:description" content="{{ page.description }}">
<meta property="og:locale" content="en_US">
<meta property="og:updated_time" content="{{ site.time | date_to_xmlschema }}">
<meta property="og:image" content="{{ site.url }}/assets/images/avatar.png">
<meta property="og:image:width" content="432">
<meta property="og:image:height" content="432">
<meta property="og:image:type" content="image/png">
<meta property="og:site_name" content="Mike Hall" />
