---
layout: minimal
title: Video — Teach Yourself Beginning Community in 24 Months
description: Video presentation by Mike Hall.
breadcrumb: Teach Yourself Beginning Community in 24 Months
breadcrumb_parent_name: One-offs
breadcrumb_parent_url: /oneoffs/
---

<article class="page">
  {% include breadcrumbs.html %}

  {% assign asset = site.data.video_assets.items | where: "id", "pechakucha-teach-yourself-beginning-community-in-24-months-2" | first %}
  {% if asset %}
    <header>
      <h1>{{ asset.title }}</h1>
    </header>

    {% include video-asset-player.html asset=asset embed_id="pechakucha-embed" %}
  {% endif %}
</article>
