---
layout: minimal
title: "General"
description: "General includes 124 interviews. Years represented: 2013. Interviewees include Aaron Bedra, Aaron Holbrook, Andrea Magnorsky, Angelique Martin, and Arthur Kay. Topics include building a local wordpress meetup community, clojure koans as a learning tool, crafting technical talks and speaking practice, and tribune tech community engagement through meetup hosting."
breadcrumb: "General"

breadcrumb_grandparent_name: "Interviews"
breadcrumb_grandparent_url: /interviews/


breadcrumb_parent_name: "Interviews by Community"
breadcrumb_parent_url: /interviews/communities/

---

<article class="page">
  {% include breadcrumbs.html %}
  <header>
    <h1>General</h1>
    <p class="intro">General includes 124 interviews. Years represented: 2013. Interviewees include Aaron Bedra, Aaron Holbrook, Andrea Magnorsky, Angelique Martin, and Arthur Kay. Topics include building a local wordpress meetup community, clojure koans as a learning tool, crafting technical talks and speaking practice, and tribune tech community engagement through meetup hosting.</p>
  </header>

  <section class="index-summary">
    <ul class="index-highlights">

      <li>Hi, I'm Mike. I'm here with Aaron Bedra. Aaron has contributed to the Clojure language. He's also spoken extensively on Clojure and…</li>

      <li>Hi, it's Mike with UGtastic again. I'm sitting down with Aaron Holbrook who has started up a user group, a WordPress user…</li>

      <li>Mike: Hi, I'm Mike again with UGtastic. I'm at SCNA and sitting down with Gary Bernhardt, who created the "Destroy All Software"…</li>

      <li>Mike Hall: Hi, I’m Mike Hall. I’m standing here with Jen Lindner and Milan Dobrota. They’re working with the Tribune Company in…</li>

    </ul>
  </section>


  {% assign items = site.data.interviews.items | where: "community", "General" | sort: "recorded_date" | reverse %}
  {% for interview in items %}
    {% include interview-card.html interview=interview %}
  {% endfor %}
</article>
