<h3 id="history">History</h3>
<dl>
  {% include resume/history/activecampaign.html.liquid %}

  {% include resume/history/benchprep.html.liquid %}

  {% include resume/history/reachlocal.html.liquid %}

  {% include resume/history/klobomedia.html.liquid %}

  {% include resume/history/coderwall.html.liquid %}

  {% include resume/history/upcity.html.liquid %}

  {% include resume/history/viewpoints.html.liquid %}

  {% include resume/history/groupon.html.liquid %}

  {% include resume/history/obtiva.html.liquid %}

  {% include resume/history/prior-experience.html.liquid %}
</dl>
