<h3 id="projects">Projects</h3>
<dl>
    <dt id="ugtastic">WHOIS Tech Community / UGtastic</dt>
    <dd>
        <em>Creator</em>
        <strong>October 2011 - January 2017</strong> Interviewed over 100 tech
        community leaders from user-group and small conference organizers to leaders
        of massive F/OSS projects such as Rich Hickey (Clojure) and DHH (Ruby on
        Rails). Conducted interviews and produced videos and coordinated with community
        contributors.
    </dd>
    <dt id="community">Community</dt>
    <dd>
        <ul class="role-details">
            <li>Founded a Cloud Developer user-group</li>
            <li>Founded Software Craftsmanship McHenry County user-group</li>
            <li>Co-organized Chicago Code Camp for 2010-2012</li>
            <li>Presented on Aspect-oriented Programming at Chicago Code Camp and Iowa
                Code Camp on AOP</li>
            <li>Presented on how to get started in leading a user-group at Table XI
                Table Talk session</li>
            <li>Presented at several Geekfests on various topics</li>
            <li>Mentored two people into careers in software development</li>
            <li>Collaborated with GOTO Conference organizers to host events with Chicago
                community leaders.</li>
        </ul>
    </dd>
</dl>
