---
layout: minimal
title: "RailsConf 2014"
description: "Interviews recorded at RailsConf 2014."
breadcrumb: "RailsConf 2014"
breadcrumb_grandparent_name: "Interviews"
breadcrumb_grandparent_url: /interviews/
breadcrumb_parent_name: "Interviews by Conference"
breadcrumb_parent_url: /interviews/conferences/
---

<article class="page">
  {% include breadcrumbs.html %}
  <header>
    <h1>RailsConf 2014</h1>
    <p class="intro">Interviews recorded at RailsConf 2014.</p>
  </header>

  {% assign items = site.data.interviews.items | where: "conference", "RailsConf" | where: "conference_year", 2014 | sort: "recorded_date" | reverse %}
  {% for interview in items %}
    {% include interview-card.html interview=interview %}
  {% endfor %}
</article>
