<h3 class="hidden-print" id="footer">
    Footer</h3>
<p class="hidden-print">Mike Hall &#8212; <a href="mailto:mike@just3ws.com" itemprop="email" title="Reach me via email at mike@just3ws.com"
        alt="Contact me via email at mike@just3ws.com">email</a> &#8212; (847) 877-3825
    &#8212; <a href="/" title="Return to homepage" alt="Navigates back to the homepage">homepage</a></p>
