<div class="hidden-print" id="footer-links">
<p class="hidden-print">Mike Hall &#8212; <a href="mailto:mike@just3ws.com" itemprop="email" title="Reach me via email at mike@just3ws.com">email</a> &#8212; (847) 877-3825
    &#8212; <a href="/" title="Return to homepage">homepage</a></p>
</div>
