<h1 itemprop="name" id="mike-hall">Mike Hall</h1>
<h2 itemprop="jobTitle" id="jobTitle">Software Developer</h2>
<blockquote id="contact">
    <p class="hidden-print">
        <a href="mailto:mike@just3ws.com" itemprop="email" title="Reach me via email at mike@just3ws.com"
            alt="Contact me via email at mike@just3ws.com">Email</a>
        <br>
        <a href="tel:+18478773825" itemprop="telephone" title="Reach me by telephone at (847) 877-3825"
            alt="My telephone number is (847) 877-3825">Phone</a>
        <br>
        <a href="https://www.linkedin.com/in/just3ws" title="Find me on LinkedIn as @just3ws"
            alt="My LinkedIn username is @just3ws" data-proofer-ignore>LinkedIn</a>
    </p>
    <p class="hidden-screen">
        Email: mike@just3ws.com
        <br> Telephone: (847) 877-3825
        <br> LinkedIn: linkedin.com/in/just3ws
    </p>
</blockquote>
