<h3 id="recommendations">
    Recommendations</h3>
<div class="recommendations-content">
    <p>
        A sample of recommendations that I've received from managers, work associates,
        and community colleagues over the years. More recommendations available
        on my <a href="https://www.linkedin.com/in/just3ws#recommendations"
            target="_blank" title="Link to my recommendations on LinkedIn"
            data-proofer-ignore>LinkedIn</a> profile.
    </p>

    <ul class="recommendations-list" style="margin-top: 0.67em;">
        <li style="list-style-type: none;">
            <img src="assets/images/recommendations/kevin-taylor.jpg" class="recommendation"
                alt="Recommendation by Kevin Taylor: Mike Hall is a creator of both software and software communities. When Mike worked for me at Obtiva, he was a member of a select group of highly skilled software developers using agile practices and the Ruby on Rails stack to build custom client software. Mike was the linchpin of several important development projects but also always went above and beyond to mentor our client's developers, give talks, and organize and host tech community events. When Obtiva was acquired by Groupon, Mike's actions were consistent at Groupon and again, besides being a dedicated software engineer, he also went above and beyond to lead engineering culture and training initiatives--and always with a great attitude. He is a pleasure to work with.">
        </li>
        <li style="list-style-type: none;">
            <img src="assets/images/recommendations/ray-hightower.jpg" class="recommendation"
                alt="Recommendation by Ray Hightower: Mike Hall is on a perpetual positive mission to interview everyone connected with user groups: Volunteers, organizers, participants... everybody. Mike has done an awesome job so far, and you can bet that he has more in store for the future.">
        </li>
        <li style="list-style-type: none;">
            <img src="assets/images/recommendations/amitai-schlair.jpg" class="recommendation"
                alt="Recommendation by Amitai Schlair: As he has often done at conferences and elsewhere, Mike descended on Software Craftsmanship North America 2013 with his portable studio and interviewed a whole bunch of interesting and notable people (and me). I'm impressed and heartened by Mike's longstanding efforts -- including, but not limited to, his many recorded developer interviews -- to connect others more strongly with their software communities. I hadn't realized I'd been needing that sort of connection myself. Then I talked to Mike at SCNA.">
        </li>
        <li style="list-style-type: none;">
            <img src="assets/images/recommendations/bob-beaty.jpg" class="recommendation"
                alt="Recommendation by Bob Beaty: Mike is a really great guy that puts everyone at ease, and in the role of educator at Groupon, that was really very important. He would work tirelessly to try and make the material interesting, approachable, and yet challenging for those that might have come in with a little more than the minimum experience in the tech stack at Groupon. I also enjoyed working with Mike in a group before he started his teaching role, and found him to be professional, committed, and responsive. It was nice working with him.">
        </li>
        <li style="list-style-type: none;">
            <img src="assets/images/recommendations/marjorie-pries.jpg" class="recommendation"
                alt="Recommendation by Marjorie Pries: I highly recommend Mike. He is a team player and leader and always interested in learning new technologies and techniques. His interest in learning is not just a self-interest, through UGtastic and other activities, he builds channels of knowledge-sharing throughout the Chicago-area software community. He brings this attitude everyday to his projects and always strives to improve. Plus he has a lot of interests beyond software and a great sense of humor which means it's fun to work with him.">
        </li>
    </ul>
</div>
