<h3 id="skills">Skills</h3>
<ul>
    <li>
        <dl>
            <dt>API design</dt>
            <dd>
                Designed and refactored many application interfaces for use as libraries or over
                HTTP.
            </dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Project Direction</dt>
            <dd>
                Proven ability to lead and manage a wide variety of design and development projects
                in team and independent situations.
            </dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Full-stack Ruby on Rails</dt>
            <dd>
                Experienced with building up from design to deploy as well as diving into long-established
                legacy codebases.
            </dd>
        </dl>
    </li>
</ul>
