<div class="resume-skill-item">
  <h4 class="resume-skills-cat font-weight-bold">Languages</h4>
  <ul class="list-unstyled mb-4">
    {% include resume/skills-tools-item-percentile.html.liquid percentage="99" skill="Ruby" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="98" skill="SQL" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="88" skill="JavaScript" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="87" skill="HTML/CSS/Sass" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="77" skill="Zsh/Bash" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="66" skill="C#" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="55" skill="Java" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="44" skill="Clojure" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="44" skill="CoffeeScript" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="33" skill="Python" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="22" skill="Go" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="22" skill="PHP" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="11" skill="Elixir" %}
  </ul>
</div>

<div class="resume-skill-item">
  <h4 class="resume-skills-cat font-weight-bold">Databases</h4>
  <ul class="list-unstyled mb-4">
    {% include resume/skills-tools-item-percentile.html.liquid percentage="99" skill="PostgreSQL" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="99" skill="MySQL" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="88" skill="Redis" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="55" skill="Microsoft SQL Server" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="44" skill="SQLite" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="15" skill="CouchDB" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="15" skill="Neo4j" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="10" skill="ElasticSearch" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="10" skill="Memcached" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="10" skill="MongoDB" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="05" skill="Hadoop" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="05" skill="Riak" %}
  </ul>
</div>

<div class="resume-skill-item">
  <h4 class="resume-skills-cat font-weight-bold">Server-side Web Frameworks</h4>
  <ul class="list-unstyled mb-4">
    {% include resume/skills-tools-item-percentile.html.liquid percentage="99" skill="Ruby on Rails" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="99" skill="Sinatra" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="15" skill="ASP.NET MVC" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="15" skill="ASP.NET Web Forms" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="10" skill="Flask" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="05" skill="Phoenix" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="05" skill="ActiveWeb" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="05" skill="Compojure" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="05" skill="Django" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="05" skill="Express" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="05" skill="Noir" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="05" skill="SubSonic MVC" %}
  </ul>
</div>

<div class="resume-skill-item">
  <h4 class="resume-skills-cat font-weight-bold">Client-side Web Frameworks</h4>
  <ul class="list-unstyled mb-4">
    {% include resume/skills-tools-item-percentile.html.liquid percentage="99" skill="jQuery" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="55" skill="Ember.js" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="55" skill="lodash" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="55" skill="underscore.js" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="44" skill="Backbone.js" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="22" skill="React" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="22" skill="Web API" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="11" skill="Raphael.js" %}
  </ul>
</div>

<div class="resume-skill-item">
  <h4 class="resume-skills-cat font-weight-bold">Client-side UI Frameworks</h4>
  <ul class="list-unstyled mb-4">
    {% include resume/skills-tools-item-percentile.html.liquid percentage="88" skill="Bootstrap" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="77" skill="Foundation" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="55" skill="Semantic UI" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="33" skill="Blueprint" %}
    {% include resume/skills-tools-item-percentile.html.liquid percentage="33" skill="960.gs" %}
  </ul>
</div>

<div class="resume-skill-item">
  <h4 class="resume-skills-cat font-weight-bold">Others</h4>
  <ul class="list-inline">
    {% include resume/skills-tools-item-other.html.liquid skill="Agile" %}
    {% include resume/skills-tools-item-other.html.liquid skill="Behavior-driven development (BDD)" %}
    {% include resume/skills-tools-item-other.html.liquid skill="Git" %}
    {% include resume/skills-tools-item-other.html.liquid skill="Mentoring" %}
    {% include resume/skills-tools-item-other.html.liquid skill="Test-driven Development (TDD)" %}
    {% include resume/skills-tools-item-other.html.liquid skill="Vim" %}
  </ul>
</div>
