<li class="mb-2">
  <div class="resume-skill-name">{{ include.skill }}</div>
  <div class="progress resume-progress">
    <div
      class="progress-bar theme-progress-bar-dark"
      role="progressbar"
      style="width: {{ include.percentage }}%"
      aria-valuenow="{{ include.percentage }}"
      aria-valuemin="0"
      aria-valuemax="100"
      ></div>
  </div>
</li>
