<section class="resume-section summary-section mb-5">
  <h2
    class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3"
    >
    Hello World.
  </h2>
    <div class="resume-section-content">
      <p class="mb-0">
        Finding a software developer to hire is not easy but let me
        ask you a few questions to see if I can help you out.
      </p>
      <p class="mb-0">
        Are you looking for a software developer to grow your team or who can
        work independently?
      </p>

      <p class="mb-0">
        How about a developer that can build a solid and maintainable
        software foundation for your business?
      </p>

      <p class="mb-0">
        Maybe you'd like to know that they will be able to help with
        defining the goals and tradeoffs required to fulfill your
        businesses needs?
      </p>

      <p class="mb-0">
        Do <code>Ruby</code>, <code>JavaScript</code>, <code>SQL</code>, and
        <code>Linux</code> sound like some of the technologies you need the
        developer to have experience working with?
      </p>

      <p class="mb-0">
        "Full-stack" gets thrown around a lot but you might possibly need a
        developer who can work from the backend setting up and managing servers
        as well as being able to build out the API and front-end UI (although
        isn't a graphic designer)?
      </p>

      <p class="mb-0">
        Would you like to know that developer has solid experience working
        for companies like Groupon and Coderwall?
      </p>

      <p class="mb-0">
        If you answered <strong>yes</strong> to the above
        questions then this might be a great time for us to chat. Shoot an
        email to <a href="mike@just3ws.com">mike@just3ws.com</a> and we can
        chat about your needs are and how I can help you.
      </p>
    </div>
</section>

<!--//summary-section-->
