<h3 id="tools">
    Tools</h3>
<ul>
    <li>
        <dl>
            <dt>Languages</dt>
            <dd>
                Strong Ruby, Shell scripting, and JavaScript experience
            </dd>
            <dd>
                Strong foundation working with HTML and CSS
            </dd>
            <dd>
                Fluent in writing and analyzing complex SQL statements
            </dd>
            <dd>
                Light production experience working with Clojure, Java
            </dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Databases</dt>
            <dd>
                Extensive SQL experience with MySQL, MSSQL, and PostgreSQL
            </dd>
            <dd>
                Experienced with PostgreSQL full-text and JSON capabilities
            </dd>
            <dd>
                Built Redis backend services to support expiring keys, unique sets, etc
            </dd>
            <dd>
                Light production experience working with ElasticSearch, Solr, MongoDB, CouchDB,
                Vertica, Riak, and Hadoop
            </dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Environments</dt>
            <dd>
                Managed application promotion and deployment using Heroku Pipelines
            </dd>
            <dd>
                Built Vagrant environments for development and testing
            </dd>
            <dd>
                Configured and deployed Linux production systems for production
            </dd>
            <dd>
                Moderate production experience managing AWS services
            </dd>
        </dl>
    </li>
</ul>
