<h3 id="tools">
    Tools</h3>
<ul>
    <li>
        <dl>
            <dt>Languages</dt>
            <dd>Knowledgeable Ruby and Ruby on Rails developer.</dd>
            <dd>Experienced in implementing efficient and correct HTML, CSS, and JavaScript.</dd>
            <dd>Strong experience crafting efficient and performant SQL queries.</dd>
            <dd>Familiarity with building applications using Clojure and Java.</dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Databases</dt>
            <dd>Extensive SQL experience building upon MySQL, PostgreSQL, and Redis.</dd>
            <dd>Familiarity working with ElasticSearch, MongoDB, CouchDB, Vertica, Riak, and Hadoop.</dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Environments</dt>
            <dd>Built out CI pipelines using a variety of automated build and test systems.</dd>
            <dd>Created local development environments using Vagrant.</dd>
            <dd>Prepared production and staging systems using EC2, Heroku, and self-managed hosting environments.</dd>
        </dl>
    </li>
</ul>
