<dt id="groupon">Groupon</dt>
<dd>
    <em style="font-size: 1.2em">Engineering Learning &amp; Development Business Partner, Chicago, IL</em>
    <strong>July 2011 - April 2013</strong>Worked with projects from fraud analysis
    in Clojure to building internal tools with Rails to creating a centralized
    taxonomy management service in Java. Transitioned to leading efforts to rebuild
    and improve the onboarding and engineering retention process.

    {% if resume_format == 'long' %}
    <ul class="role-details">
        <li>Implemented Taxonomy service using ActiveWeb and ActiveJDBC Java frameworks
            and MySQL. Built out the servers to host services.</li>
        <li>Designed queries for identifying account fraud patterns using Vertica queries.
            Spiked on Hadoop and Clojure fraud detection tools.</li>
        <li>Developed sales support tools to assist call center representatives when
            dealing with customers using Ruby on Rails and MySQL.</li>
        <li>Built merchant analysis tools in Ruby and CouchDB to generate reports used
            by sales team for identifying markets and deals that are potentially
            valuable.</li>
        <li>Coordinated and implemented new onboarding process and facilitated in-house
            training across multiple sites. Worked with TalentDev teams across
            the organization to identify managerial training needs and design training
            course.</li>
    </ul>
    {% endif %}
</dd>
