---
---

@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');

$pygment-background-color: #404040;
$pygment-generic-color: #d0d0d0;

figure.highlight {
  font-family: 'Droid Sans Mono', monospace;
  pre.lineno {
    margin-right: 6px;
    padding-right: 2px;
    background: lighten($pygment-background-color, 10%);
    color: lighten($pygment-generic-color, 10%);
  }
}


