---
layout: minimal
title: "Chicago Software Craftsmanship"
description: "Chicago Software Craftsmanship includes 1 interview. Interviewees include Jim Suchy and Steve Kim. Topics include Chicago Software Craftsmanship and chicago software craftsmanship."
breadcrumb: "Chicago Software Craftsmanship"

breadcrumb_grandparent_name: "Interviews"
breadcrumb_grandparent_url: /interviews/


breadcrumb_parent_name: "Interviews by Community"
breadcrumb_parent_url: /interviews/communities/

---

<article class="page">
  {% include breadcrumbs.html %}
  <header>
    <h1>Chicago Software Craftsmanship</h1>
    <p class="intro">Chicago Software Craftsmanship includes 1 interview. Interviewees include Jim Suchy and Steve Kim. Topics include Chicago Software Craftsmanship and chicago software craftsmanship.</p>
  </header>

  <section class="index-summary">
    <ul class="index-highlights">

      <li>Hi, I'm Mike. I'm sitting here with Jim Suchi and Steve Kim from Chicago Self-Worker, Chicago Self-Worker Craftsmanship, not Self-Worker Craftsmanship McHenry…</li>

    </ul>
  </section>



  {% assign items = site.data.interviews.items | where: "community", "Chicago Software Craftsmanship" | sort: "recorded_date" | reverse %}
  {% for interview in items %}
    {% include interview-card.html interview=interview %}
  {% endfor %}
</article>
