---
layout: minimal
title: "Video Archive — Rob Reynolds (General)"
description: "Rob Reynolds is a whirling dervish of F/OSS projects, epic sideburns and Chuck Norris references. He was the creator of the RoundhousE or UppercuT project and…"
breadcrumb: "Interview with Rob Reynolds"
breadcrumb_parent_name: Videos
breadcrumb_parent_url: /videos/
---

<article class="page">
  {% include breadcrumbs.html %}
  {% assign asset = site.data.video_assets.items | where: "id", "interview-with-rob-reynolds-general" | first %}
  {% if asset %}
    <header>
      <h1>{{ asset.title }}</h1>
    </header>
    {% include json-ld-video.html asset=asset %}

    {% include video-asset-player.html asset=asset embed_id="asset-embed" %}
  {% endif %}
</article>
