---
layout: minimal
title: "GOTO Conference 2014"
description: "GOTO Conference 2014 includes 17 interviews. Years represented: 2014. Interviewees include Adrian Cockcroft keynote speaker for GOTO Chicago 2014, Aino Vonge Corry, Alex Rutkowski, Camille Fournier, and Cindy Sprague. Topics include DevOps culture at GOTO Chicago 2014, Mixing Lean & Agile Development at GOTO Chicago 2014, Programmer Anarchy at GOTO Chicago 2014, User Groups and ThoughtWorks at GOTO Chicago 2014, and building ecosystems at GOTO Chicago 2014."
breadcrumb: "GOTO Conference 2014"

breadcrumb_grandparent_name: "Interviews"
breadcrumb_grandparent_url: /interviews/


breadcrumb_parent_name: "Interviews by Conference"
breadcrumb_parent_url: /interviews/conferences/

---

<article class="page">
  {% include breadcrumbs.html %}
  <header>
    <h1>GOTO Conference 2014</h1>
    <p class="intro">GOTO Conference 2014 includes 17 interviews. Years represented: 2014. Interviewees include Adrian Cockcroft keynote speaker for GOTO Chicago 2014, Aino Vonge Corry, Alex Rutkowski, Camille Fournier, and Cindy Sprague. Topics include DevOps culture at GOTO Chicago 2014, Mixing Lean & Agile Development at GOTO Chicago 2014, Programmer Anarchy at GOTO Chicago 2014, User Groups and ThoughtWorks at GOTO Chicago 2014, and building ecosystems at GOTO Chicago 2014.</p>
  </header>


  {% assign items = site.data.interviews.items | where: "conference", "GOTO Conference" | where: "conference_year", 2014 | sort: "recorded_date" | reverse %}
  {% for interview in items %}
    {% include interview-card.html interview=interview %}
  {% endfor %}
</article>
