---
layout: minimal
title: "GOTO Conference 2013"
description: "GOTO Conference 2013 includes 3 interviews. Years represented: 2013. Interviewees include Erik Meijer creator Reactive Framework, Ola Bini, and Rich Hickey creator of Clojure."
breadcrumb: "GOTO Conference 2013"
breadcrumb_grandparent_name: "Interviews"
breadcrumb_grandparent_url: /interviews/
breadcrumb_parent_name: "Interviews by Conference"
breadcrumb_parent_url: /interviews/conferences/
---

<article class="page">
  {% include breadcrumbs.html %}
  <header>
    <h1>GOTO Conference 2013</h1>
    <p class="intro">GOTO Conference 2013 includes 3 interviews. Years represented: 2013. Interviewees include Erik Meijer creator Reactive Framework, Ola Bini, and Rich Hickey creator of Clojure.</p>
  </header>

  {% assign items = site.data.interviews.items | where: "conference", "GOTO Conference" | where: "conference_year", 2013 | sort: "recorded_date" | reverse %}
  {% for interview in items %}
    {% include interview-card.html interview=interview %}
  {% endfor %}
</article>
