---
layout: minimal
title: "Lake County .NET User Group (LCNUG)"
description: "Lake County .NET User Group (LCNUG) includes 1 interview. Interviewees include Scott Seely. Topics include Lake County .NET User Group (LCNUG) and lake county net user group lcnug."
breadcrumb: "Lake County .NET User Group (LCNUG)"

breadcrumb_grandparent_name: "Interviews"
breadcrumb_grandparent_url: /interviews/


breadcrumb_parent_name: "Interviews by Community"
breadcrumb_parent_url: /interviews/communities/

---

<article class="page">
  {% include breadcrumbs.html %}
  <header>
    <h1>Lake County .NET User Group (LCNUG)</h1>
    <p class="intro">Lake County .NET User Group (LCNUG) includes 1 interview. Interviewees include Scott Seely. Topics include Lake County .NET User Group (LCNUG) and lake county net user group lcnug.</p>
  </header>

  <section class="index-summary">
    <ul class="index-highlights">

      <li>Hi, I'm Mike Hall. I'm sitting down here with Scott Seeley, who is, he runs the lakecounty.net user group, and he's a…</li>

    </ul>
  </section>



  {% assign items = site.data.interviews.items | where: "community", "Lake County .NET User Group (LCNUG)" | sort: "recorded_date" | reverse %}
  {% for interview in items %}
    {% include interview-card.html interview=interview %}
  {% endfor %}
</article>
