---
layout: compress
---

<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">

<head itemscope itemtype="http://schema.org/WebSite">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

  <!-- Author -->
  <meta name="author" content="Mike Hall">
  <title itemprop="name">{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="keywords" content="{{ page.keywords }}">

  <!-- Open Graph -->
  <meta property="og:type" content="website">
  <meta property="og:app_id" content="226843561097282">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:image" content="{{ site.url }}/assets/images/avatar.png">
  <meta property="og:url" content="{{ site.url }}{{ page.canonical_path }}">
  <meta property="og:description" content="{{ page.description }}">

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@just3ws">
  <meta name="twitter:creator" content="@just3ws">

  <meta name=robots content="index, follow">

  {% include favicon.html %}

  <!--[if lt IE 9]>
  <script src=https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js></script>
  <script src=https://oss.maxcdn.com/respond/1.4.2/respond.min.js></script>
  <![endif]-->

  <!-- Analytics -->
  {% include google_analytics.html %}

	{% if page.canonical_path %}
		<link rel="canonical" href="{{ site.url }}{{ page.canonical_path }}" itemprop="url">
  {% endif %}

	<link rel="stylesheet" href="/assets/stylesheets/print.css" media="print" type="text/css">
	<link rel="stylesheet" href="/assets/stylesheets/screen.css" media="screen" type="text/css">

	{% if page.stylesheets %}
		{% for stylesheet in page.stylesheets %}
			<link rel="stylesheet" href="/assets/stylesheets/{{ stylesheet }}.css" media="screen,print" type="text/css">
		{% endfor %}
	{% endif %}

	{% if page.javascripts %}
		{% for javascript in page.javascripts %}
			<script src='/assets/javascripts/{{ javascript }}.js' type="text/javascript"></script>
		{% endfor %}
	{% endif %}

	{% if page.prefetch %}
    <link rel="prefetch" href="{{ page.prefetch }}">
    <link rel="prerender" href="{{ page.prefetch }}">
  {% endif %}
</head>

<body>
<div class="container">

{{ content }}

</div>

{% include facebook.html %}

</body>

</html>
