name: Validate Content

on:
  push:
  pull_request:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Validate UGtastic data
        run: |
          ruby -v
          bin/validate_ugtastic.rb
